.Cards {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.Cards-Container {
    width: 100%;
    height: 490px;
}

.Cards-Container-Div-h1 {
    width: 100%;
    height: 70px;
}

.Cards-Container-h1 {
    text-align: center;
}

.Cards-Container-Div-ul {
    width: 100%;
    height: 480px;
}

.Cards-Container-ul {
    width: 90%;
    height: 300px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 110px;
}

.Cards-Container-ul-li {
    width: 300px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 100px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.00000000000000000000005);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.Cards-Container-ul-li-Div-img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.Cards-Container-ul-li-img {
    width: 100%;
    height: 100%;
}

.Cards-Container-ul-li-Div-h3 {
    width: 100%;
    height: 50px;
}

.Cards-Container-ul-li-h3 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.Cards-Container-ul-li-Div-span {
    width: 100%;
    height: 100px;
    text-align: left;
}

.Cards-Container-ul-li-span {
    width: 100%;
    height: 100%;
}


@media (max-width: 1700px) {
    .Cards {
        width: 100%;
        height: 500px;
        margin-top: 50px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 490px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 70px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 30px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 480px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 300px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 110px;
    }
    
    .Cards-Container-ul-li {
        width: 300px;
        height: 280px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 50px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 100px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1600px) {
    .Cards {
        width: 100%;
        height: 500px;
        margin-top: 50px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 490px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 70px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 29px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 480px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 300px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 110px;
    }
    
    .Cards-Container-ul-li {
        width: 290px;
        height: 270px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 95px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 50px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 100px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1500px) {
    .Cards {
        width: 100%;
        height: 490px;
        margin-top: 50px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 480px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 65px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 28px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 470px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 290px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 110px;
    }
    
    .Cards-Container-ul-li {
        width: 280px;
        height: 270px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 47px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 97px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 15px;
    }

}

@media (max-width: 1400px) {
    .Cards {
        width: 100%;
        height: 480px;
        margin-top: 50px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 470px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 63px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 27px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 460px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 280px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 110px;
    }
    
    .Cards-Container-ul-li {
        width: 270px;
        height: 260px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 47px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 97px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 15px;
    }

}

@media (max-width: 1300px) {
    .Cards {
        width: 100%;
        height: 470px;
        margin-top: 50px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 460px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 60px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 26px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 450px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 275px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 110px;
    }
    
    .Cards-Container-ul-li {
        width: 265px;
        height: 255px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 45px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 95px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 14px;
    }

}

@media (max-width: 1200px) {
    .Cards {
        width: 100%;
        height: 460px;
        margin-top: 50px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 450px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 60px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 25px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 440px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 270px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 110px;
    }
    
    .Cards-Container-ul-li {
        width: 260px;
        height: 250px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 45px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 95px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 12px;
    }

}

@media (max-width: 1100px) {
    .Cards {
        width: 100%;
        height: 450px;

    }
    
    .Cards-Container {
        width: 100%;
        height: 450px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 50px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 430px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 260px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 110px;
    }
    
    .Cards-Container-ul-li {
        width: 250px;
        height: 240px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 100px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 42px;
        font-size: 12px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 92px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 11px;
    }

}

@media (max-width: 1050px) {
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 10px;
    }

}

@media (max-width: 1000px) {
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 9px;
    }

}

@media (max-width: 950px) {
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 9px;
    }

}

@media (max-width: 900px) {
    .Cards {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 50px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 850px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 260px;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20%;
    }
    
    .Cards-Container-ul-li {
        width: 250px;
        height: 240px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 42px;
        font-size: 12px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 92px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 11px;
    }

}

@media (max-width: 600px){
    .Cards {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 50px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 850px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 260px;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20%;
    }
    
    .Cards-Container-ul-li {
        width: 250px;
        height: 240px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 42px;
        font-size: 12px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 92px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 11px;
    }

}

@media (max-width: 500px){
    .Cards {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 50px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 850px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 260px;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20%;
    }
    
    .Cards-Container-ul-li {
        width: 250px;
        height: 240px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 42px;
        font-size: 12px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 92px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 11px;
    }

}

@media (max-width: 400px){
    .Cards {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container {
        width: 100%;
        height: 900px;
    }
    
    .Cards-Container-Div-h1 {
        width: 100%;
        height: 50px;
    }
    
    .Cards-Container-h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .Cards-Container-Div-ul {
        width: 100%;
        height: 850px;
    }
    
    .Cards-Container-ul {
        width: 90%;
        height: 260px;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20%;
    }
    
    .Cards-Container-ul-li {
        width: 250px;
        height: 240px;
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.00000000000000000000005);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    
    .Cards-Container-ul-li-Div-img {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px;
    }
    
    .Cards-Container-ul-li-img {
        width: 100%;
        height: 100%;
    }
    
    .Cards-Container-ul-li-Div-h3 {
        width: 100%;
        height: 42px;
        font-size: 12px;
    }
    
    .Cards-Container-ul-li-h3 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .Cards-Container-ul-li-Div-span {
        width: 100%;
        height: 92px;
        text-align: left;
    }
    
    .Cards-Container-ul-li-span {
        width: 100%;
        height: 100%;
        font-size: 11px;
    }

}