.ConnectionHome {
    width: 100%;
    height: 1000px;
}

.ConnectionHome-Container {
    width: 100%;
    height: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConnectionHome-Container-BackgroundImg {
    width: 90%;
    height: 950px;
}

.ConnectionHome-Container-BackgroundImg-img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}

.ConnectionHome-Container-BackgroundImg-Card {
    width: 40%;
    height: 500px;
    z-index: 2;
    position: absolute;
    margin-left: 45%;
    margin-top: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
}

.ConnectionHome-Container-BackgroundImg-Card-Content{
    width: 100%;
    height: 100%;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
    width: 100%;
    height: 65px;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
    color: white;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
    width: 100%;
    height: 120px;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-span {
    color: white;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body {
    width: 100%;
    height: 340px;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
    width: 90%;
    height: 335px;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
    width: 100%;
    height: 230px;
    display: block;
    justify-content: center;
    align-items: center;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: block;
    justify-content: center;
    align-items: center;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
    padding: 10px; /* İçeriği kenarlardan ayır */
    background-color: transparent;
    align-items: center;
    margin-bottom: 10px; /* Alt kısmına boşluk bırak */
    display: flex; /* Öğeleri yatayda hizala */
    color: white;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
    background-color: transparent;
    margin: 2%;
    width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
    color: #fff;
    border: none; /* Kenar çizgisini kaldır */
    border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
    padding: 5px; /* İçeriği kenarlardan ayır */
    outline: none; /* Odaklanıldığında kenarlığı kaldır */
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
    color: white;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
    margin-left: 42%;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    background-color: transparent;
    color: white;
}

.ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 15px;
}

@media (max-width: 1500px) {
    .ConnectionHome {
        width: 100%;
        height: 1100px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 1090px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 1050px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 40%;
        height: 600px;
        z-index: 2;
        position: absolute;
        margin-left: 45%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 170px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 440px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 435px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 260px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 40%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 1400px) {
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 38%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }

}

@media (max-width: 1300px) {
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 37%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }

}

@media (max-width: 1200px) {
    .ConnectionHome {
        width: 100%;
        height: 1050px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 1040px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 1000px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 40%;
        height: 550px;
        z-index: 2;
        position: absolute;
        margin-left: 45%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 170px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 440px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 435px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 210px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 36%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 1100px) {
    .ConnectionHome {
        width: 100%;
        height: 1050px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 1040px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 1000px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 50%;
        height: 550px;
        z-index: 2;
        position: absolute;
        margin-left: 30%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 170px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 440px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 435px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 210px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 36%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 900px) {
    .ConnectionHome {
        width: 100%;
        height: 950px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 940px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 900px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 50%;
        height: 500px;
        z-index: 2;
        position: absolute;
        margin-left: 30%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
        font-size: 15px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 110px;
        font-size: 13px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 400px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 395px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 210px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 32%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 800px) {
    .ConnectionHome {
        width: 100%;
        height: 950px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 940px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 900px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 47%;
        height: 550px;
        z-index: 2;
        position: absolute;
        margin-left: 30%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
        font-size: 15px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 150px;
        font-size: 13px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 430px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 425px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 230px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 27%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 800px) {
    .ConnectionHome {
        width: 100%;
        height: 950px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 940px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 900px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 50%;
        height: 550px;
        z-index: 2;
        position: absolute;
        margin-left: 27%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
        font-size: 13px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 170px;
        font-size: 12px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 430px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 425px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 200px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 26%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 700px) {
    .ConnectionHome {
        width: 100%;
        height: 950px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 940px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 900px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 55%;
        height: 550px;
        z-index: 2;
        position: absolute;
        margin-left: 25%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
        font-size: 13px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 170px;
        font-size: 12px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 430px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 425px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 200px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 26%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 600px){
    .ConnectionHome {
        width: 100%;
        height: 840px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 830px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 790px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 62%;
        height: 550px;
        z-index: 2;
        position: absolute;
        margin-left: 15%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
        font-size: 13px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 170px;
        font-size: 12px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 430px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 425px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 200px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 26%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 500px){
    .ConnectionHome {
        width: 100%;
        height: 840px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 830px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 790px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 65%;
        height: 500px;
        z-index: 2;
        position: absolute;
        margin-left: 10%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
        font-size: 12px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 120px;
        font-size: 11px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 430px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 425px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 200px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 16%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}

@media (max-width: 400px){
    .ConnectionHome {
        width: 100%;
        height: 840px;
    }
    
    .ConnectionHome-Container {
        width: 100%;
        height: 830px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg {
        width: 90%;
        height: 790px;
    }
    
    .ConnectionHome-Container-BackgroundImg-img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card {
        width: 65%;
        height: 500px;
        z-index: 2;
        position: absolute;
        margin-left: 10%;
        margin-top: 70px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.2); /* Arkaplan renginin saydamlığını azaltmak için rgba kullanıyoruz */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content{
        width: 100%;
        height: 100%;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-h1 {
        width: 100%;
        height: 65px;
        font-size: 12px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-h1 {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Div-span {
        width: 100%;
        height: 150px;
        font-size: 11px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-span {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body {
        width: 100%;
        height: 430px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form {
        width: 90%;
        height: 425px;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul {
        width: 100%;
        height: 200px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li {
        padding: 10px; /* İçeriği kenarlardan ayır */
        background-color: transparent;
        align-items: center;
        margin-bottom: 10px; /* Alt kısmına boşluk bırak */
        display: flex; /* Öğeleri yatayda hizala */
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input {
        background-color: transparent;
        margin: 2%;
        width: calc(50% - 10px); /* Yarı genişlik, kenar boşluğunu çıkar */
        color: #fff;
        border: none; /* Kenar çizgisini kaldır */
        border-bottom: 1px solid #fff; /* Alt kısmına sadece çizgi ekle */
        padding: 5px; /* İçeriği kenarlardan ayır */
        outline: none; /* Odaklanıldığında kenarlığı kaldır */
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-ul-li-input::placeholder {
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button {
        margin-left: 10%;
        width: 200px;
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        background-color: transparent;
        color: white;
    }
    
    .ConnectionHome-Container-BackgroundImg-Card-Content-Body-Form-Div-ul-Button:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 15px;
    }

}